:root{
    --primary-color: rgb(35, 84, 161);
    --secondary-color: rgb(255, 255, 255);
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand, .nav-link {
    color: var(--secondary-color) !important;
}

footer {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

footer a {
    color: var(--secondary-color) !important;
}

h1 {
    text-align: center;
    margin: 40px 0 30px 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    justify-items: center;
    margin-bottom: 80px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }

.card .d-flex {
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

#background {
    background-color: #ffffff;
    height: 100%;
}

#background2 {
    background-color: #f3f3f3;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 45px 0 10px 0;
}

#background2 p {
    padding-bottom: 70px;
}

/* tablette */
@media  screen and (min-width: 768px) and (max-width: 991px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }

    #background {
        width: 80%;
        margin: auto;
    }

    #background2 {
        margin-top: 40px;
    }
}

/* mobile */
@media  screen and (max-width: 767px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }

    body {
        height: auto;
    }
}
